:root {
  --font-family: Roboto;

  --background: white;
  --button-primary-bg: white;
  --button-primary-text: rgb(128 127 127);
  --overlay-bg: rgba(0, 0, 0, 0.116);
}

body {
  background: var(--background);
  font-family: var(--font-family);
}

h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 1.7rem;
}

p {
  margin: 0;
}

textarea {
  background: none;
  border: none;
  color: #929292;
  resize: none;
  width: 100%;
  height: 4rem;
  font-family: var(--font-family);
}

.u-row {
  display: flex;
  flex-direction: row;
}

.u-space-between {
  justify-content: space-between;
}

.u-vertical-center {
  align-items: center;
}

.u-margin-md {
  margin-left: 1rem;
}

.u-margin-top-lg {
  margin-top: 1.5rem;
}

.u-text-secondary {
  color: #989797;
}

.button {
  background: var(--button-primary-bg);
  border: 1px solid #cecece;
  border-radius: 3px;
  padding: 8px 25px 8px 25px;
  font-weight: 600;
  font-family: var(--font-family);
  cursor: pointer;
}

.button.button-primary {
  color: var(--button-primary-text);
}

.average-rating-text {
  font-size: 1.7rem;
  margin-right: 10px;
}

.rating-text {
  font-size: 1rem;
  color: black;
  font-weight: 700;
}

.separator {
  border: 1px solid #ececec;
  margin: 2rem 0 2rem 0;
}

.star-container {
  position: relative;
}

.star {
  filter: grayscale(1);
  width: max-content;
  width: 1rem;
  height: 1rem;
  background-image: url(./assets/star.svg);
  background-size: contain;
}

.star.on {
  filter: grayscale(0);
}

.star.half-on {
  background-image: url(./assets/star.svg);
  background-size: cover;
  filter: grayscale(0);
  max-width: 50%;
  width: 1rem;
  height: 1rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}


.modal {
  position: fixed;
  background: var(--background);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
  border-radius: 15px;
  min-width: 40rem;
  padding: 40px 40px 40px 53px;
  z-index: 2;
}

@media only screen and (max-width: 760px) {
  .modal {
    min-width: calc(100vw - 4rem);
    padding: 15px 15px 15px 19px;
  }
}

.modal-header {
  padding-right: 1rem;
}

.modal.hide {
  display: none;
}

.modal.show {
  display: block;
}

.modal-title {
  font-size: 44px;
  color: black;
}

.modal .close-button {
  border: 0;
  background: none;
  cursor: pointer;
  color: #989797;
  position: absolute;
  top: 1rem;
  right: .5rem;
  font-size: 1rem;
}

.modal .modal-actions {
  margin-top: 1.5rem;
}

#add-review-modal .stars-rating {
  cursor: pointer;
}

.overlay {
  background: var(--overlay-bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.overlay.hide {
  display: none;
}

.overlay.show {
  display: block;
}